:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
    --font-family: 'Poppins', sans-serif;
}

* {
    background: #E5E5E5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    padding: 50px 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--purple);
    padding-bottom: 19px;

    font-size: 36;
    font-weight: 700;
    letter-spacing: 0.105em;

    text-transform: uppercase;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--light-grey);
    font-weight: 300;
    font-size: 14px;
}

.countdown {
    font-size: 62px;
    color: var(--black);
}

p {
    font-size: 14px;
    color: var(--text-color);

    padding-bottom: 31px;
    padding-top: 30px;
}

button {
    background-color: var(--purple);
    color: #fff;

    font-size: 16px;
    font-weight: 400;
    
    width: 160px;
    height: 46px;
    
    border: none;
    border-radius: 15px;
}

button:hover {
    filter: brightness(80%);
}